body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #350443;
    padding: 0 50px;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}
.center-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2%;
    margin-left: 50px;
    text-transform: uppercase;
}
.logo{
    background-image: url('Images/Aldenaire.png');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
}
.logo:hover{
    background-image: url(Images/Aldenaire-Hover.png);
}
.navbar-links {
    display: flex;
    gap: 20px;
}
.navbar-links a {
    color: #d7af6a;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.navbar-links a:hover {
    color: rgb(248, 230, 230);
}
.sub-title {
    color: #d7af6a;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.slide-box {
    position: relative;
    background-size: cover;
    background-position: center;
    color: rgb(248, 230, 230);
    padding: 267.5px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.slide-box h1, .slide-box h3 {
    text-align: start;
    margin-left: 7.5%;
    text-shadow: 
        -1px -1px 0 rgba(0, 0, 0, 0.8),  
        1px -1px 0 rgba(0, 0, 0, 0.8),
        -1px 1px 0 rgba(0, 0, 0, 0.8),
        1px 1px 0 rgba(0, 0, 0, 0.8);
}
.slide-box h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    width: 500px;
}
.slide-box a {
    text-decoration: none;
    color: inherit;
    display: inline;
}
.slide-box a:hover {
    text-decoration: underline;
    color: #d7af6a;
}
.slide-box h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #350443;
    padding: 20px 50px;
}
footer img {
    height: 150px;
}
.IAMA, .VHP {
    text-align: center;
    color: #d7af6a;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.link-title{
    font-size: 1.4rem;
    font-weight: bold;
}
.title {
    text-align: center;
    color: #d7af6a;
}
.title h1{
    font-size: 2.8rem;
}
.title h2{
    font-size: 1.2rem;
}
footer a {
    text-decoration: none;
    color: inherit;
}
footer a:hover {
    color: rgb(248, 230, 230);
}